#search-container
{
    width: 70%;
    padding: 0px 10px;

    display: flex;
    align-items: center;

}

#search-input
{
    width: 85%;
    margin: 5px 10px;
    padding: 10px 20px;

    outline: none;
    border: solid 1px;
    border-style: none;
    border-radius: 15px;

    box-shadow: 0px 0px 8px rgba(14, 14, 13, 0.055);

}