#signup-frame
{
    padding: 120px 40px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

#signup-display
{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

#signUp-type 
{
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
    /*margin-bottom: 20px;*/
}

#rectangles
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
    padding: 10px 20px;

    border: solid 1px #ddd;
    
    border-radius: 20px;

    cursor: pointer;
    transition:background-color 0.3s ease ;

}

#rectangles:hover 
{
    background-color: #f0f0f0;
}

#icons
{
    display: flex;
    align-items: center;

    margin-right: 10px;    
}

#proceed-with
{
    display: flex;
    align-items: center;

    flex-grow: 1;
    text-align: left;

}

#signed-up
{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}